header{
    position: absolute;
}
.brandstory{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.brandstoryimg{
    width: 95%;
    height: 85%;
    background-image: url(./img/brand.jpg);
    align-self: baseline;
    margin-top: 90px;
}
.brandstory h1{
    position: absolute;
    color: white;
    font-size: 60px;
    font-family: "Elms Sans", sans-serif;
    font-weight: 400;
}