header{
    position: absolute;
}
.galleryBox{
    width: 100%;
    display: flex;
    background-color: #ededed;
    flex-direction: column;
}
.galleryBoximg{
    width: 95%;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: white;
    margin-top: 90px;
    padding: 100px;
    flex-direction: column;
}
.galleryBoxSNS{
    width: 87.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}
.galleryBoxSNS div h1{
    display: inline-block;
    text-align: center;
    font-size: 60px;
    font-family: "Elms Sans", sans-serif;
    margin: 20px;
}
.galleryBoxSNS h4{
    display: inline-block;
    font-size: 24px;
}
.galleryboxSNSimg{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 40px;
    margin: 50px 0;
}
.galleryboxSNSimg div{
    width: 100%;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.galleryboxSNSimg div p{
    position: absolute;
    line-height: 50px;
    font-family: "Elms Sans", sans-serif;
    z-index: 9;
    text-align: center;
    font-weight: lighter;
}
.galleryboxSNSimg div.on{
    color: white;
}
.galleryboxSNSimg div img{
    object-fit: cover;
    transition: all 0.5s;
}
.galleryboxSNSimg div img:hover{
    filter: brightness(50%);
    cursor: pointer;
}